@import url(/style/_variables.css);

/* ----------------------------------- FONT ----------------------------------- */
@font-face {
  font-family: "Lexend Deca";
  src: local("Lexend Deca"),
    url(../Lexend_Deca/LexendDeca-VariableFont_wght.ttf) format(TrueType);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-mode);
  padding: 0%;
  margin: 0%;
  font-family: Lexend Deca;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
  font-size: 1.2rem;
}

/* -----------------------------------HEADER----------------------------------- */

header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0 5%;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 60%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
/* -----------------------------------MAIN----------------------------------- */
.title {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 28px;
  color: var(--second-color);
}

#listEvent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 15px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  transition: transform 0.3s ease;
  overflow: hidden;
  max-height: 8rem;
  max-width: 40%;
  min-width: 40%;
}

.card:hover {
  max-height: 15rem;
  transform: translateY(-1rem);
}

.card-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 1.5rem;
}

.button-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.detail {
  background-color: var(--main-color);
  font-size: 18px;
  border: none;
  border-radius: 3px;
  width: 7rem;
  height: 2rem;
}

.detail:hover {
  background-color: #46b9b0;
  cursor: pointer;
}

.add {
  background-color: var(--second-color);
  font-size: 18px;
  border: none;
  border-radius: 3px;
  width: 7rem;
  height: 2rem;
}

.add:hover {
  background-color: #dd9520;
  cursor: pointer;
}
